.tableHeader th {
  background: #060303;
  width: 30vw;
}
.tableUser {
  background: #d9d9d9;
  padding-bottom: 2vh;
  width: 30vw;
  margin-top: 2vh;
}
.tableContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.btnUser {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: transparent;
}
.btnFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnKeep{
  color: white;
  background-color: #5cb46c;
  border-radius: 5em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}
.btnCancel{
  color: white;
  background-color: #B54A5D;
  border-radius: 5em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}
.btnAdd{
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
  background-color: #5cb46c;
  border-radius: 5em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}